<div class=" center-align input-field col s2"></div>
<div class=" center-align input-field col s8">
    <div class="progress searchBarProgress">
        <div class="indeterminate red lighten-1"></div>
    </div>
    <input id="btcAddress" name="btcAddress" type="text" class="searchinput" placeholder="Your &#xE022; address">
    <button id="trackButton" class="red lighten-1 btn-large waves-effect waves-light pulse" type="submit" name="action">Track
    </button>
    <button class="red lighten-1 btn-large waves-effect waves-light disabled" type="submit" name="action">Add
    </button>
</div>
</div>
<div class=" center-align input-field col s2"></div>